.App{
    width: 60%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(black , .4);
}

.header{
    background-color: #F55A5A;
    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center ;
        align-items: center;
        &>*{
            margin: 1rem  .5rem
        }
        .fa-earth-asia{
            font-size: 2.5rem;
        }
        
    }
}

.main{
    background-color: white;
    color: black;
    padding: 2rem;
}